@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');
html{
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	background: #0A50FA;
	color: #fff;
	min-height: 100%;
}
#show_video{
	font-size: 1.1em;
	padding: .5em 1em;
	background-color: darken(#0A50FA, 10);
	color: #fff;
	text-decoration: none;
	display: block;
	&:hover{
		background-color: lighten(#0A50FA, 10);
	}
	&:before{
		content: '';
		background: url("../img/play.svg") no-repeat;
		background-position: 50% 50%;
		vertical-align: middle;
		margin-top: -.1em;
		margin-right: .5em;
		display: inline-block;
		height: 1em;
		width: 1em;
	}
}
#popup{
	display: none;
}
#popup.shown{
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display: flex;
	justify-content: center;
	align-items: center;
	.fade{
		position: absolute;
		cursor: pointer;
		background-color: rgba(255,255,255,0.5);
		top:0;
		right:0;
		bottom:0;
		left:0;
		z-index: -1;
	}
	iframe{
		z-index: 999;
		box-shadow: 0px 0px 20px 0px #000;
	}
}
.counter{
	display: block;
	font-size: 1.5em;
	font-weight: 300;
}
h1{
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 300;
}
h2{
	font-weight: 400;
}

.title{
	display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
.image_logo{
	height: 100%;
	margin-right: 2em;
}
/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}
@media screen and (max-width:1024px) {
	.title{
		flex-direction: column;
		white-space: normal;
		text-align: center;
	}
	body{
		padding: 30px 30px;
	}
	h1{
		font-size: 2em;
	}
	.counter{
		font-size: 1.5em;
	}
	iframe{
		max-width: 100%;
	}
	.image_logo{
		margin: 0;
	}
}
/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
